{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "shop/favicon/favicon.ico" %}"/>
    <title>Термопаста на любой вкус по Украине</title>

    <!-- Bootstrap -->
    <link href="{% static "shop/css/bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "shop/css/bootstrapFix.css" %}" rel="stylesheet">
    <!-- Вставка HTML5 поєднується з Respond.js для підтримки в IE8 елементів HTML5 та медіа-запитів -->
    <!-- ЗАСТЕРЕЖЕННЯ: файл Respond.js не працює, якщо ви проглядаєте сторінку відкривши її з файлової системи -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body >
<div class="container" >
	<div class="header" >
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<a class="logo" href="/"><h1>ТЕРМОПАСТА<small>.КОМ.ЮА</small></h1>
				<p id="header-desc"><i>Комфорт для ваших кремнеевых друзей<i></p></a>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 tels">
				<p class="tel">091-941-06-27 </p>
				<p class="tel">063-915-15-05 </p>
				<p class="tel-desc"><small>Наберите нас и мы Вам перезвоним!</small></p>
			</div>
		</div>
	</div>




  <!--<div class="container">
<nav role="navigation" class="navbar navbar-default ">

   <div id="navbarCollapse" class="collapse navbar-collapse"></div> -->
<!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navLeftFix nav-pills">
      <li ><a href="#">Термопаста</a></li>
      <li><a href="#">Переходники</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li class="nav-pills"><a href="#">Статьи</a></li>
	  <li><a href="#">О нас</a></li>
	  <li><a href="#">Контакты</a></li>
    </ul> </div>
	<hr class="hrFix"/>

</nav>
</div>   -->


	<div class="FixNavBar" >
		<nav>
		  <ul class="nav nav-pills pull-right">
{#			<li role="presentation"><a href="{% url 'about' %}">Про нас</a></li>#}
{#			<li role="presentation"><a href="{% url 'contacts' %}">Контакти</a></li>#}
			<li role="presentation"><a class="nav_link" href="/about/">Про нас</a></li>
			<li role="presentation"><a class="nav_link" href="/contacts/">Контакти</a></li>
		  </ul>
		</nav>
		<nav>
		  <ul class="nav nav-pills">
			<li role="presentation"><a class="nav_link" href="{% url 'category_url' slug='termopasta' %}">Термопаста</a></li>
			<li role="presentation"><a class="nav_link" href="{% url 'category_url' slug='perehodniki' %}">Переходники</a></li>
		  </ul>
		</nav>
	</div>






{#<div class="alert alert-warning bannerFix" role="alert"></div>#}
<div style="height: 15px" role="alert"></div>

        {% block content %}{% endblock %}



    	<footer>
		<hr/>
		    termopasta.com.ua &copy;
	    </footer>
    </div>

<!-- jQuery (потрібно для JavaScript плагінів Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Підключення мінімізованої збірки всіх плагінів jQuery. Можна підключати додаткові плагіни, якщо потрібно -->
<script src="{% static "shop/js/bootstrap.min.js" %}"></script>
<script src="{% static "shop/js/MyJs.js" %}"></script>
{#<script type="text/javascript">#}
{#   $(document).on('click', '.nav_link', function() {#}
{#       $(".nav-list li").removeClass("active");#}
{#       $(this).addClass("active");#}
{#   });#}
{#</script>#}
</body>
</html>